a {
    letter-spacing: 1px;
    transition: all 0.5s;
}

a:hover {
    letter-spacing: 2px;    
}

.friendBox {
    letter-spacing: 2px;
    border: 1px;
    color: dodgerblue;
}

.textcontent {
    border: none;
    letter-spacing: 1px;
    font-style: oblique;
    max-height: 400px;
}

#checkboxes {
    display: none;
    border: 1px
}

#checkboxes label{
    display: block;
    margin: 2px;;
}

#checkboxes label:hover {
    background-color: ghostwhite;
}

