{% extends "layout.html" %}
{% block title %}Tapahtuma{% endblock %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class ="col-6">
            <div class="card p-1 border shadow rounded" style="width: 35rem;">
                <h5 class="card-header text-center">
                    {{ event.description }}
                </h5>
                <div class="card-body border rounded">
                    <p class="card-text">
                        {{ event.info }}
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Alkaa: <b>{{ event.start_time }}</b>
                    </p>
                    <p class="card-text">
                        Päättyy: <b>{{ event.end_time }}</b>
                    </p>
                    <footer class="blockquote-footer">ilmoitus luotu {{ event.created_at }},  ilmoittaja: <span>
                        {% if session.user_id %}<a href={{ url_for("user", id=event.user_id) }}>{{ username }}</a></span>
                        {% else %}{{ event.username }}</span>
                        {% endif %}</footer>
                </div>
                <a href="/" class="btn btn-primary">palaa etusivulle</a>
            </div>
        </div>

        {% if session.user_id %}
        <div class ="col-6">
            <div class="card p-1 border shadow rounded" style="width: 35rem;">
                <h5 class="card-header text-center">
                    tapahtumakohtaiset toiminnot
                </h5>
            {% if is_attending %}
                <p>Olet ilmoittanut osallistuvasi tähän tapahtumaan.</p>
                <a href={{ url_for("attend_event", id=id)}}><b>peru osallistuminen</b></a>
                <hr>
            {% else %}
                <p>Et ole osallistumassa tähän.</p>
                <a href={{ url_for("attend_event", id=id)}}><b>osallistu</b></a>
                <hr>
            {% endif %}
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}