{% extends "layout.html" %}
{% block title %}Luo tapahtuma{% endblock %}
{% block page_content %}
<!-- Handle cases when event with the same description and same starting time has been added
     before by the same user -->
{% if duplicates %}
    <div style="background-color: rgb(255, 255, 235); padding: 2rem;">
        {% if count== 1 %}
        <h5 class="text-center">Olet jo lisännyt tapahtuman, jolla on sama
            kuvaus ja alkamisaika ({{ start_time }}).</h5>
        {% else %}
        <h5 class="text-center">Olet jo lisännyt {{ count }} tapahtumaa, joilla on sama
            kuvaus ja alkamisaika ({{ start_time }}).
        </h5>
        {% endif %}
        <br>
        <p class="text-center">Haluatko silti lisätä tapahtuman?
            <span><a style="margin-left: 2rem;" href="/event/duplicate"><b>lisää</b></a></span>
            <span><a style="margin-left: 2rem;" href="/"><b>peruuta</b></a></span>
        </p>
        <br>
        <p class="text-center">aiemmin lisäämäsi tapahtuma(t):</p>
        {% for duplicate in duplicates %}
        <div class="container p-5 border shadow bg-white mt-3" style="width: 40rem;">
            <div class="card p-1 border rounded" style="width: 35rem;">
            <h5 class="card-header text-center">
                {{ duplicate.description }}
            </h5>
            <div class="card-body border rounded wrap">
                <p class="card-text wrap">
                    {{ duplicate.info }}
                </p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Alkaa: <b>{{ start_time }}</b>
                </p>
                <p class="card-text">
                    Päättyy: <b>{% if duplicate.end_time %}{{ duplicate.end_time }}{% else %}ei ilmoitettu{% endif %}</b>
                </p>                
            </div>            
        </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

{% if session.user_id %}
    <div class="container p-2 border shadow bg-white">
        <h5 class="text-center">Luo tapahtuma</h5>
        <hr>
        <form action="/event" method="POST">
            <div class="form-group row">
                <label for="description" class="col-2 col-form-label">Lyhyt kuvaus:</label>
                <div class="col-sm">
                    <input type="text" maxlength="50" cols="50" class="form-control" id="description" name="description" placeholder="kuvaus">
                </div>
            </div>
            <div class="form-group row">
                <label for="info" class="col-2 col-form-label">Lisätietoja:</label>
                <div class="col">
                    <textarea rows="5" cols="40" id="info" name="info" placeholder="Kerro tässä lisätietoja tapahtumasta"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="start_time" class="col-2 col-form-label">Alkamisaika:</label>
                <div class="col">
                    <input type="datetime-local" id="start_time" name="start_time">
                </div>
            </div>
            <div class="form-group row">
                <label for="end_time" class="col-2 col-form-label">Päättymisaika:</label>
                <div class="col">
                    <input type="datetime-local" id="end_time" name="end_time">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <div class="col-1">
                    <input type="submit" value="lisää" class="btn btn-primary" {% if duplicates %}disabled{% endif %}>
                </div>
                <div class="col">
                    <a href="/" class="btn btn-primary">peruuta</a>
                </div>
            </div>
            
        </form>
    </div>
{% endif %}
{% endblock %}
