{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block page_content %}
    <div class="container p-3 my-3 border">
        <h3>Tapahtumakalenteri</h3>
    </div>
    <hr>
{% if session.username %}
  {% if session.is_admin %}
    <div class="container">
        <p style="background-color: cadetblue; color:aliceblue;">ADMIN</p>
    </div>
    <hr>
  {% endif %}
    <div class="container border">
        <p>{{ session.username }}: <span><a href="/logout">kirjaudu ulos</a></span></p>        
    </div>
{% else %}
    <div class="container border">
        <div class="row">
            <div class="col-2">
                <a href="/login">kirjaudu sisään</a> 
            </div>
            <div class="col">
                <a href="/register">luo tunnus</a>
            </div>
        </div>       
    </div>
{% endif %}
{% endblock %}