{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block page_content %}
    <div class="container p-3 border shadow bg-white rounded">
        <h5 class="text-center">Tapahtumat</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tapahtuman kuvaus</th>
                    <th>alkuaika</th>
                    <th>ilmoittaja</th>
                </tr>
            </thead>
            <tbody>
                {% for event in eventlist %}
                <tr>
                    <td><a href={{ url_for("event", id=event.id) }}>{{ event.description }}</a></td>
                    {% if not event.start_time %}
                        <td>ei ilmoitettu</td>
                    {% else %}
                        <td>{{ event.start_time.strftime("%d.%m.%Y %H:%M") }}</td>
                    {% endif %}
                    <td>{{ event.username }}
                        {% if event.username == session.username %}
                            <span style="color: grey;"> (sinä)</span>
                        {% endif %}
                        {% if event.username == session.username or session.is_admin %}
                            <span><a href={{ url_for("remove_event", id=event.id) }}>poista ilmoitus</a></span>
                        {% endif %}                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
<!--    <iframe width="425" height="350" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-8.876953125000002%2C57.326521225217064%2C47.28515625000001%2C70.61261423801925&amp;layer=mapnik" style="border: 1px solid black"></iframe>
-->
    </div>
{% endblock %}