{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block page_content %}
    <div class="container p-2 border">
        <form action="/login" method="POST">
            <div class="row">
                <div class="col-2">
                    <h5>kirjaudu sisään</h5>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="username">käyttäjätunnus:</label>
                <input type="text" class="form-control" name="username" placeholder="tunnus" id="username">
            </div>
            <div class="form-group">
                <label for="password">salasana:</label>
                <input type="password" class="form-control" name="password" placeholder="salasana" id="password">
            </div>
            <input type="submit" value="kirjaudu" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}