{% extends "layout.html" %}
{% block title %}Tapahtuma{% endblock %}
{% block page_content %}

{% if session.user_id %}
<div class="row">
    <div class="col">
        <div class="container p-3 m-3 border shadow bg-white rounded" style="max-height: 600px; overflow-y: scroll;">        
            <h5 class="text-center">Lähetetyt viestit</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>vastaanottaja</th>
                        <th>aika</th>
                        <th>viesti</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages_sent %}
                    <tr>
                        <td>
                           <a href={{ url_for("user", id=message.receiver) }}>{{ message.username }}</a>
                        </td>
                        <td>
                            {{ message.created_at.strftime("%d.%m.%Y %H:%M") }}           
                        </td>
                        <td>
                            <textarea class="textcontent" style="height: 200px;" readonly>{{ message.message }}</textarea>                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col">
        <div class="container p-3 m-3 border shadow bg-white rounded" style="max-height: 600px; overflow-y: scroll;">        
            <h5 class="text-center">Vastaanotetut viestit</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>lähettäjä</th>
                        <th>aika</th>
                        <th>viesti</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages_received %}
                    <tr>
                        <td>
                            <a href={{ url_for("user", id=message.sender) }}>{{ message.username }}</a>
                        </td>
                        <td>
                            {{ message.created_at.strftime("%d.%m.%Y %H:%M") }}
                        </td>
                        <td>
                            <textarea class="textcontent" style="height: 200px" readonly>{{ message.message }}</textarea>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container p-2 border shadow bg-white">
    <h5 class="text-center">Kirjoita viesti</h5>
    <hr>
    <form action="/messages" method="POST">
        <h5>valitse <span id="friendBox" class="btn btn-secondary dropdown-toggle" onclick="showFriends()">vastaanottaja</span> viestille</h5>
        <div id="checkboxes" style="max-height: 150px; overflow-y: scroll;">
              {% for friend in friends %}
            <label for="{{ friend.username }}">
                <input type="radio" name="receiver" value={{ friend.id }} required/> {{ friend.username }}
            </label>
            {% endfor %}
        </div>
        <div class="form-group row">
            <label for="info" class="col-2 col-form-label">Viesti:</label>
            <div class="col">
                <textarea rows="5" cols="40" id="content" name="content" placeholder="kirjoita viesti tähän"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2"></div>
            <div class="col-1">
                <input type="submit" value="lähetä" class="btn btn-primary">
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">    
    </form>
</div>

<script>
    var expanded = false;

    function showFriends() {
        var radiobuttons = document.getElementById("radiobuttons");
        if (!expanded) {
            checkboxes.style.display = "block";
        } else {
            checkboxes.style.display = "none";
        }
        expanded = !expanded
    }

</script>
{% endif %}
{% endblock %}

