{% extends "layout.html" %}
{% if session.username %}
{% block title %}{{ user.username }}{% endblock %}
{% block page_content %}

{% if user.rights_to_modify %}
<div class="row">
    <div class="col">
        <div class="container mt-2 ml-2 p-3 shadow" style="background-color: antiquewhite;">
            <h5 class="text-center">käyttäjätiedot</h5>
            <hr>
            <h5 style="text-shadow: 1px;">käyttäjänimi: {{ user.username }}</h5>
            {% if not friend and has_friend_invitation %}
                <p>Ystäväkutsu lähetetty</p> 
            {% elif not friend and has_invited_as_a_friend %}
                <p>{{ user.username }} on kutsunut sinut ystäväksesi. <span><a href={{ url_for("add_friend", id=user.id)}} style="margin-left: 15px;">hyväksy</a></span><span><a href="#" style="margin-left: 15px;">hylkää</a></span></p>
            {% elif not friend and user.id != session.user_id %}
                <a href={{ url_for("send_friend_invitation", id=user.id)}}>lähetä ystäväkutsu</a>
            {% elif user.id != session.user_id %}
                <p>ystävälistalla</p>
            {% endif %}
        </div>

                <div class="container mt-2 ml-2 p-3 shadow" style="background-color:aliceblue; max-height: 600px; overflow-y: scroll;">
                <h5 class="text-center">Selaa käyttäjiä</h5>
                <hr>
                <ul>
                {% for u in all_users %}
                    <li style="margin: 5px;">
                        <a href={{ url_for("user", id=u.id)}}>{{ u.username }}</a>
                        {% if u.is_friend %}<span>(ystävä)</span>{% endif %} <br>
                    </li>            
                {% endfor %}
                </ul>
                </div>

    </div>
    <div class="col">
        <div class="container mt-2 ml-2 p-3 shadow" style="background-color:rgb(255, 220, 220); max-height: 300px; overflow-y: scroll;">
            <h5 class="text-center">ystävät ({{ user.friends | length }})</h5>
            <hr>
            <ul>
                {% for friend in user.friends %}
                <li style="margin: 5px;">
                    <a href={{ url_for("user", id=friend.id)}}>{{ friend.username }}</a><br>
                </li>
                {% endfor %}
                </ul>
            <hr>
            <h5 class="text-center">ystäväkutsut ({{ user.friend_invitations | length }})</h5>
            <hr>
            <ul>
                {% for invitation in user.friend_invitations %}
                <li>    
                    <a href={{ url_for("user", id=invitation.id)}}>{{ invitation.username }}</a> 
                </li>             
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col">
        <div class="container mt-2 ml-2 p-3 shadow" style="background-color: antiquewhite;">
            <h5 class="text-center">käyttäjätiedot</h5>
            <hr>
            <h5 style="text-shadow: 1px;">käyttäjänimi: {{ user.username }}</h5>
            {% if not friend and has_friend_invitation %}
                <p>Ystäväkutsu lähetetty</p> 
            {% elif not friend and has_invited_as_a_friend %}
                <p>{{ user.username }} on kutsunut sinut ystäväksesi. <span><a href={{ url_for("add_friend", id=user.id)}} style="margin-left: 15px;">hyväksy</a></span>  <span><a href="#" style="margin-left: 15px;">hylkää</a></span></p>
            {% elif not friend %}
                <a href={{ url_for("send_friend_invitation", id=user.id)}}>lähetä ystäväkutsu</a>
            {% else %}
                <p>ystävälistalla</p>
            {% endif %}
        </div>

        <div class="container mt-2 ml-2 p-3 shadow" style="background-color:aliceblue; max-height: 600px; overflow-y: scroll;">
            <h5 class="text-center">Selaa käyttäjiä</h5>
            <hr>
            <ul>
            {% for u in all_users %}
                <li style="margin: 5px;">
                    <a href={{ url_for("user", id=u.id)}}>{{ u.username }}</a>
                    {% if u.is_friend %}<span>(ystävä)</span>{% endif %} <br>
                </li>            
            {% endfor %}
            </ul>
            </div>

    </div>
    <div class="col">
        <div class="container mt-2 ml-2 p-3 shadow" style="background-color:rgb(255, 220, 220); max-height: 300px; overflow-y: scroll;">
            <h5 class="text-center">käyttäjän {{ user.username }} ystävät ({{ user.friends | length }})</h5>
            <hr>
            <ul>
            {% for friend in user.friends %}
            <li style="margin: 5px;">
                <a href={{ url_for("user", id=friend.id)}}>{{ friend.username }}</a><br>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
{% endif %}